<div>
  <ul>
    <li class="todo-item" ng-repeat="item in vm.items track by $index">
      <!--<todo-item item="item"></todo-item>-->
      <p>
        <span ng-class="{ 'todo-item__done': item.done }">
          {{ item.label }}
        </span>
        <a class="todo-item__btn btn--green" ng-if="!item.done" ng-click="vm.done({ item: item })">
          <i class="fa fa-check"></i>
        </a>
        <a class="todo-item__btn btn--red" ng-click="vm.remove({ item: item })">
          <i class="fa fa-trash-o"></i>
        </a>
      </p>
    </li>
  </ul>
</div>
