.todo-item {
  height: 50px;
  list-style-type: none;
  border: 1px solid white;

  &:hover {
    border-left: 1px solid $green-color;
  }
}

.todo-item__done {
  text-decoration: line-through;
}

.todo-item__btn {
    height: 20px;
    text-decoration: none;
    cursor: pointer;

    @at-root .btn--red {
      color: red;
    }

    @at-root .btn--green {
      color: green;
    }
}
