<!-- VERSION <%= htmlWebpackPlugin.options.version %> -->
<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="<%= htmlWebpackPlugin.options.name %>" version="<%= htmlWebpackPlugin.options.version %>">
  </head>
  <body>

    <section ng-controller="mainPanelController as $main">
      {{$main.hello}}
    </section>
    <br>
    <section ng-controller="controllerClass as $class">
      {{$class.name}}
    </section>

    <my-component></my-component>

  </body>
</html>
