$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1200px;

@import url('https://fonts.googleapis.com/css?family=Mogra');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'components/components';
@import 'modules/modules';
